In [1]:

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

- Aqui podemos visualizar la que nuestro dataset no tiene ningun missing value, lo cual es bueno

In [7]:
df['const'] =1

In [8]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit ', 'const'],
      dtype='object')

### Split de data

In [12]:
y = df['Chance of Admit '].to_numpy()
X=df.drop('Chance of Admit ',axis=1).to_numpy()

In [13]:
print(y.shape,X.shape)

(400,) (400, 9)

### Estandarizando data

In [14]:
from sklearn.preprocessing import StandardScaler

#creando la instancia
scaler =  StandardScaler()

X_scaled = scaler.fit_transform(X)

#### Cargando Funciones

In [15]:

def linear_cost(X, y, theta): 
    h = X @ theta
    return ((y-h)**2).sum() / (2 * len(X))

def linear_cost_gradient(X, y, theta, lambda_p = 10): 
    h = X @ theta
    lambda_f = (lambda_p/(2*len(X))) * (theta**2).sum()
    return (X.T @ (h-y))/ len(X) + lambda_f

def gradient_descent(
X,y,theta_0,linear_cost,linear_cost_gradient,
    learning_rate = 0.0001, threshold=0.001, max_iter=10000,lambda_p = 10): 
    
    theta = theta_0
    iteration = 0 
    costs = []
    thetas = []
    
    while np.linalg.norm(linear_cost_gradient(X,y,theta)) > threshold and iteration < max_iter:
        iteration += 1 
        theta = theta - (learning_rate * linear_cost_gradient(X,y,theta) + lambda_p * theta)
        costs.append(linear_cost(X,y,theta))
        thetas.append(theta.copy())
        
    return theta, costs, thetas

In [21]:
m, n = X.shape
theta_0 = np.random.rand(n,1)
print(theta_0.shape)

(9, 1)

In [18]:
X_train = X_scaled[:200]
X_cv = X_scaled[201:300]
X_test = X_scaled[301:400]
print(X_train.shape,X_cv.shape,X_test.shape)

(200, 9) (99, 9) (99, 9)

- Hice una particiÃ³n de 50%  para el entrenamiento y 25, 25 para el resto ya que la cantidad de datos es bastante limitada

In [19]:
y_train = y[:200]
y_cv = y[201:300]
y_test = y[301:400]
print(y_train.shape,y_cv.shape,y_test.shape)

(200,) (99,) (99,)

In [26]:
theta, costs, thetas = gradient_descent(X_train,y_train,theta_0,linear_cost,linear_cost_gradient,0.00001,0.001,10000,0)

In [27]:
print(costs[len(costs)-1])

88.2046137513738

- Este valor todavÃ­a puede mejorarse, voy a probar con un polinomio de grado 2